#root {
  max-width: 1280px;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
}

.table-container {
  text-align: left;
  outline: solid;
  border-radius: 10px;
  padding: 20px;
  background-color: beige;
  margin-bottom: 4rem;
}

th {
  padding: 0 20px;
}

td {
  padding: 4px 20px;
}

.filter-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.stats-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3rem;
  gap: 2rem;
}

.stats {
  outline: solid;
  padding: 10px 30px;
  border-radius: 10px;
}

.stats-text {
  font-size: 24px;
}

.container {
  display: flex;
}

.sidebar {
  min-width: 300px;
  min-height: 100vh;
  margin-right: 3rem;
  background-color: lightblue;
  font-size: 2rem;
  text-align: left;
}

.sidebar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-left: 3rem;
}

.detail-container {
  text-align: left;
}

.sub-details {
  font-size: 1.5rem;
}

.piechart-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.piechart {
  margin-left: 30%;
}